body{
	font-size: 0px;
}

.container{
	width: 800px;
	height: 500px;
	margin: 10px auto;
	box-sizing: border-box;
}

.box{
	border: 1px solid black;
	display: inline-block;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.gray{
	background-color: gray;
}

.black{
	background-color: black;
}

.orange{
	background-color: orange;
}

.top{
	height:200px;
	width:50%;
}

.bottom{
	height:300px;
	width:33.334%;
}

.centered{
	text-align: center;
}